.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;

  text-align: center;

}

.teste{
  padding: 25px;
  border: 2px solid white;
  max-width: 800px;
  max-height: 200px;
  overflow: hidden;
  transition: all 1s;
} 

.abre{
  max-height: 800px;
}

.content-children {
  padding: 25px;
  border: 2px solid white;
  width: 800px;
  transition: all 1s;
  animation: outAnimation 1000ms ease-in;
  animation-fill-mode: "both";
}

.content-children-open {
  padding: 25px;
  border: 2px solid white;
  max-width: 800px;
  transition: all 1s;
  animation: inAnimation 1000ms ease-out;
  animation-fill-mode: "forwards";
}

@keyframes inAnimation {
  0% {
      max-height: 200px;
      visibility: hidden;
  }

  100% {
      max-height: 800px;
      visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
      max-height: 800px;
      visibility: visible;
  }

  100% {
      max-height: 200px;
      visibility: hidden;
  }
}